@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* CONFIGURAÇÕES INICIAIS */

:root
{
    --background-h-f: #171718;
    --background-m: #1f2124;
}

body
{
    background: linear-gradient(var(--background-m), #353638, var(--background-m));
    font-family: 'Poppins', sans-serif;
    color: #f0f8ff;
}

.centralizado
{
    display: block;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    align-content: center;
}

/* MENU */

#nav-icon1 span{
    display: block;
    margin: 4px;
    height: 0.3vw;
    width: 2vw;
    background: aliceblue;
    border-radius: 9px;
}

.dp-menu ul
{
    list-style-type: none;
    padding: 7px;
    background: linear-gradient(90deg, var(--background-h-f), #1d1e1f, var(--background-h-f));
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    font-size: 1vw;
}

.dp-menu ul ul
{
    display: none;
    position: absolute;
}

.dp-menu ul li
{
    display:inline-block;
}

.dp-menu ul li:hover ul
{
    display: block;
    width: 10%;
    box-shadow: rgb(red, black, red);
}

.nav1
{
    margin-left: 10%;
}

.nav2
{
    float: right;
    margin-right: 10%;
}

.link:hover
{
    color: rgb(188, 195, 201);
}

/* PÁGINA */

.titulo-principal
{
    text-align: center;
    font-size: 3vw;
}

.titulo-principal:first-letter
{
    font-size: 5vw;
    color: rgb(180, 0, 0);
}

.img
{
    width: 20%;
    margin-left: 5%;
}

ul
{
    padding: 5%;
}

.left
{
    margin-left: 5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    font-size: 1vw;
    transition: 0.5s background;
    border-radius: 10px;
}

.left:hover
{
    background-color: #6a6e73;
    border-radius: 10px;
}

.right
{
    margin-left: 45%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    font-size: 1vw;
    transition: 0.5s background;
    border-radius: 10px;
}

.right:hover
{
    background-color: #6a6e73;
    border-radius: 10px;
}

/* RODAPÉ */

.foot
{
    position: absolute;
    width: 100%;
    height: 3vw;
    top: end;
    background: linear-gradient(90deg, var(--background-h-f), #1d1e1f, var(--background-h-f));
    font-size: 1vw;
}

/* ADAPTAÇÃO PARA OUTRAS TELAS */

/* CELULAR */

@media screen and (max-width: 767px)
{
    .dp-menu ul
    {
        font-size: 2vw;
    }

    .foot
    {
        font-size: 2vw;
    }

    .left
    {
        width: 90%;
        margin: 0 auto;
        font-size: 2vw;
    }

    .right
    {
        width: 90%;
        margin: 0 auto;
        font-size: 2vw;
    }
}

/* TABLET */

@media screen and (min-width: 768px) and (max-width:1023px)
{
    .dp-menu ul
    {
        font-size: 1.3vw;
    }

    .foot
    {
        font-size: 1.3vw;
    }

    .left
    {
        font-size: 1.3vw;
    }

    .right
    {
        font-size: 1.3vw;
    }
}